In [1]:
# 버전확인부터 해 보아요!
import tensorflow as tf
print(tf.__version__)

2.0.0

In [6]:
import tensorflow as tf
import numpy as np

random1 = np.random.rand(2,2)
print(random1)

# Tensorflow

random2 = tf.random.normal([1], dtype = tf.float32)
print(random2) # Tensor가 출력되요!
# TF 1.x버전에서는 node가 가지는 값을 얻어올려면
# (Node를 실행 시키려면 Session이 있어야 했어요!!)

# TF 2.x버전에서는 session 없이 즉시 실행시킬수 있어요 (Eager Execution)
print(random2.numpy())

[[0.05326872 0.02018983]
 [0.47199104 0.86862337]]
tf.Tensor([-0.46128452], shape=(1,), dtype=float32)
[-0.46128452]

In [12]:
import tensorflow as tf

a = tf.constant(10, dtype=tf.float32)
b = tf.constant(20, dtype=tf.float32)

c = a + b

print ('c의 값은 : {}'.format(c.numpy())) 

d = 30.0
# numpy를 tensor로 tensor를 numpy로 변경가능
tensor_d = tf.convert_to_tensor(d)
print((c+ tensor_d).numpy())

c의 값은 : 30.0
60.0

In [26]:
import tensorflow as tf
W = tf.Variable(tf.random.normal([1]), name='weight')

# 기존에는 tf.Variable()을 이용해서 변수를 만들면 사용하기 전에
# 반드시 초기화를 진행해야 했어요!
# sess.run(tf.global_variables_initializer())
# Tf 2.0에서는 초기화를 안해도 되요!!
print(W.numpy())

[-0.47497696]

In [ ]:
# tensorflow graph에 입력을 주는 부분이 없어졌어요!
# 기존에는 graph에게 데이터를 밀어넣기 위해서 placeholder를 이용했어요!
# Eager Execution에 의해서 이제는 placeholder가 필요 없게 됬어요!
# placeholder는 삭제되었습니다. 

# Lazy execution을 하지 않아요! 이젠 Eager Execution을 수행해요!
# TF

In [46]:
# tensorflow의 keras를 이용하여 Model을 생성해 보아요!
import tensorflow as tf
from tensorflow.keras.models import Sequential
# model = Sequential # keras model 생성 큰 박스 생성
model = tf.keras.models.Sequential()  # keras model 생성 큰 박스 생성
# model을 만들었으니 그 다음에는 layer를 만들어야해요!
model.add(tf.keras.layers.Flatten(input_shape=(2, ))) # 독립변수의 개수
model.add(tf.keras.layers.Dense(3, activation = 'softmax')) # output이 몇개인지 logistic이 몇개인지

# model compile 과정
model.compile(loss='categorical_crossentropy',
              optimizer=tf.keras.optimizers.SGD(learning_rate=1e-3),
              metrics=['accuracy'])

def my_loss():
    pass
          
    
# model 학습
model.fit(x_data_train, t_data_train, epochs=100, batch_size=100, validation_split=0.3)

NameError: name 'x_data_train' is not defined

In [14]:
# tensorflow 2를 이용해서 Ozone 예제를 다시 구현해 보아요!
# Multiple Linear Regression

import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, Dense
from tensorflow.keras.optimizers import SGD
from sklearn.preprocessing import MinMaxScaler
from scipy import stats
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier



# Raw data loading
df = pd.read_csv('./data/ozone.csv')
display(df)

# 결측치 확인 및 처리
# 일단 데이터가 충분히 많고 결측치가 적으면 삭제가 답이에요
# 하지만 일반적으로 결측치를 삭제하면 데이터가 너무 많이 유실되기 때문에 다른 방식을 이용하게 되요!

print(df.isnull().sum())

# Day, Month 제거
df = df.drop(['Month','Day'],axis=1)

# 중간치 처리
df['Solar.R'] = 

# 온전한데이터로 KNN 사용 Train 데이터 분류
nan_df = df[df['Ozone'].isnull()]
train_df = df[~df['Ozone'].isnull()]
display(train_df)

# data split
x_data_train, x_data_test, t_data_train, t_data_test =\
train_test_split(train_df[['Solar.R', 'Wind','Temp']],train_df['Ozone'],test_size=0.3, random_state=0)

t_data_train= t_data_train.values.reshape(-1,1)
t_data_test= t_data_test.values.reshape(-1,1)

# Normalization
scaler = MinMaxScaler()
scaler.fit(x_data_train)
x_data_train_norm = scaler.transform(x_data_train)
x_data_test_norm = scaler.transform(x_data_test)

scaler_t = MinMaxScaler()
scaler_t.fit(t_data_train)

t_data_train_norm = scaler_t.transform(t_data_train)
t_data_test_norm = scaler_t.transform(t_data_test)


# Logistic Regression
model = linear_model.LinearRegression()
model.fit(x_data_train_norm, t_data_train_norm) # 학습
print(model.score(x_data_test_norm, t_data_test_norm)) # 정확도 확인

# # KNN을 이용한 분류
# knn_model = KNeighborsClassifier(n_neighbors=3) # 이웃 3개 찾으라는 얘기
# knn_model.fit(x_data_train_norm, t_data_train_norm)
# print(knn_model.score(x_data_test_norm, t_data_test_norm)) # 정확도 확인
# nan_df['Ozone'] = knn_model.predict(nan_df[['Solar.R', 'Wind','Temp']])



# KNN으로 예측된 데이터를 다시삽입
nan_df['Ozone'] = model.predict(nan_df[['Solar.R', 'Wind','Temp']])
df = pd.concat([nan_df, train_df], axis = 0, sort =True)
display(df)

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

     Ozone  Solar.R  Wind  Temp
0     41.0    190.0   7.4    67
1     36.0    118.0   8.0    72
2     12.0    149.0  12.6    74
3     18.0    313.0  11.5    62
6     23.0    299.0   8.6    65
..     ...      ...   ...   ...
147   14.0     20.0  16.6    63
148   30.0    193.0   6.9    70
150   14.0    191.0  14.3    75
151   18.0    131.0   8.0    76
152   20.0    223.0  11.5    68

[111 rows x 4 columns]

0.45905711108799996

/Users/admin/opt/anaconda3/envs/data_env_tensorflow2/lib/python3.7/site-packages/ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         Ozone  Solar.R  Temp  Wind
9    67.662600    194.0    69   8.6
24   38.734363     66.0    57  16.6
25   68.051536    266.0    58  14.9
31   86.273191    286.0    78   8.6
32   83.395298    287.0    74   9.7
..         ...      ...   ...   ...
147  14.000000     20.0    63  16.6
148  30.000000    193.0    70   6.9
150  14.000000    191.0    75  14.3
151  18.000000    131.0    76   8.0
152  20.000000    223.0    68  11.5

[146 rows x 4 columns]

In [114]:
# 우리 KNN의 사용법에 대해서 알아보아요!!
# sklearn을 이용해서 알아보아요!!

# BMI 예제를 이용해서 학습한 후 정확도를 측정해 보아요!
# 
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

# Raw Data Loading
df = pd.read_csv('./data/bmi.csv', skiprows=3)

# data split
x_data_train, x_data_test, t_data_train, t_data_test =\
train_test_split(df[['height', 'weight']],df['label'],test_size=0.3, random_state=0)

# Normalization
scaler = MinMaxScaler()
scaler.fit(x_data_train)
x_data_train_norm = scaler.transform(x_data_train)
x_data_test_norm = scaler.transform(x_data_test)

# Logistic Regression
model = LogisticRegression()
model.fit(x_data_train_norm, t_data_train) # 학습
print(model.score(x_data_test_norm, t_data_test)) # 정확도 확인


# KNN을 이용한 분류
knn_model = KNeighborsClassifier(n_neighbors=3) # 이웃 3개 찾으라는 얘기
knn_model.fit(x_data_train_norm, t_data_train)
print(knn_model.score(x_data_test_norm, t_data_test)) # 정확도 확인

0.9845
0.998